* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#text-left,
#text-right {
  list-style: none;
  padding-top: 10px;
}

#text-right{
  padding-top: 20px;
}

.links {
  text-decoration: none;
  color: black;
}

#text-left li,
#text-right li {
  display: inline;
  margin-left: 30px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
}

#text-left {
  left: 0;
  position: fixed;
  top: 68%;
}
#text-right {
  right: 0;
  position: fixed;
  top: 45%;
}

.side-text-left {
  transform-origin: top left;
  transform: rotate(-90deg) translateY(50%);
}
.side-text-right {
  transform-origin: top right;
  transform: rotate(90deg) translateX(50%);
}

.single-link{
  color:black;
  font-family: Manrope, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.single-link:after {
  width: 0;
  height: 1px;
  background: black;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .25s ease-in-out;
}
.single-link:hover {
  color: black;
}
.single-link:hover:after {
  width: 100%;
}

