* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#text-left,
#text-right {
  list-style: none;
  padding-top: 10px;
}

.single-link {
  text-decoration: none;
  color: black;
}

#text-left li,
#text-right li {
  display: inline;
  padding-left: 30px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
}

#text-left {
  left: 0;
  position: fixed;
  top: 68%;
}
#text-right {
  right: 0;
  position: fixed;
  top: 50%;
}

.side-text-left {
  transform-origin: top left;
  transform: rotate(-90deg) translateY(50%);
}
.side-text-right {
  background: lightblue;
  transform-origin: top right;
  transform: rotate(90deg) translateX(50%);
}
